{% extends "base.html.twig" %}
{% block body %}
<h1>bienvenue dans la page d'acceuil</h1>

<p>
Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, 
porteur de sens et utilisant les structures propres à une langue.
Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.
</p>

{% endblock %}

